.modal_cont {
    position: fixed;
    background-color: #2228;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
	width: 300px;
	height: 300px;
	background-color: aliceblue;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 #006, 0 0 8px 2px #004;
	display: grid;
	gap: 20px;
	position: relative;
}

.modal h2 {
    font-size: 20px;
}

.modal_close {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid;
    box-sizing: border-box;
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
}

.modal_close:hover {
    background-color: rgb(241, 255, 38);
}

form {
    display: grid;
    gap: 10px;
}

input {
    flex: 1;
    height: 30px;
    box-sizing: border-box;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid rgb(218, 218, 218);
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: rgb(241, 255, 38);
}

button.btn {
    border: none;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(241, 255, 38);
}

button.link {
    background-color: transparent;
    border: 1px solid rgb(241, 255, 38);
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 100%;
  
  }

  
  