.App {
  text-align: center;
  
}

.container {
min-height: 100vh;
display: grid;
grid-template-rows: 100px auto 50px;
}

.container>* {
  padding: 0 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 1260px) {
  .container>* {
    padding: 0 30px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
